<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!--Data For Logger-->
    <add key="User" value="Yo Yo" />
    <add key="Env" value="July 2" />
    <add key="Release" value="July 2" />
    <add key="ChromeDriverPath" value="..\..\..\packages\Selenium.WebDriver.ChromeDriver.2.42.0.1\driver\win32" />

  </appSettings>
</configuration>